<section id="aboutus">
    <div class="logo2">
        <div class="houselogo">
            <img src="images/logo3.png">
        </div>
        <div class="aboutushead">
            <h1>Ayesha's Paradise</h1>
            <p>Your House Hunt Ends Here</p>
        </div>
    </div>
    <div>
        <h1 class="about">
            <center>About Us</center>
        </h1>
        <p class="parainabout">
            <center>We provide premium paying guest accommodations with a focus on safety, comfort, and
                community. Our carefully curated spaces offer modern amenities and a supportive environment for
                students and professionals. With years of experience in hospitality, we ensure your home away
                from home experience is nothing short of exceptional.</center>
        </p>
    </div>
    <div>
        <div class="locphoto">
            <div class="photo">
                <div class="locimage">

                </div>
                <div class="lococontent">
                    <button>View now</button>
                </div>
            </div>
            <div class="photo">
                <div class="locimage">

                </div>
                <div class="lococontent">
                    <button>View now</button>
                </div>
            </div>
            <div class="photo">
                <div class="locimage">

                </div>
                <div class="lococontent">
                    <button>View now</button>
                </div>
            </div>
            <div class="photo">
                <div class="locimage">

                </div>
                <div class="lococontent">
                    <button>View now</button>
                </div>
            </div>
        </div>
    </div>
</section>